# .jekyll-metadata
.bundle
.sass-cache
_site
_rake
_tests
# assets

Thumbs.db
.DS_Store

.rbenv-version
.rvmrc
/node_modules
/yarn-error.log
yarn.lock

# docs

# Ignore Yard Doc
# /doc
.yardoc/

# Ignore bundler and gems
vendor/bundle
.bundle
# Gemfile.lock

# Ignore environment files
.env